.face
{
    position: relative;
    width: 1300px;
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr) 200px;
    grid-template-rows: repeat(4, max-content);
    grid-row-gap: 5px;
    grid-template-areas: 'geo set set set mail'
        '0 news news b r'
        'logo main main main r'
        'l wid wid wid r';
    font: 14px Arial;
}

.geolocation
{
    grid-area: geo;
}

.settings-control
{
    grid-area: set;
    direction: rtl;
    padding: 10px;
}

.settings_show
{
    cursor: pointer;
}

input[id='settings_show']:checked ~ .settings
{
    display: block;
}

.settings
{
    display: none;
    position: absolute;
    right: 15%;
    top: 45px;
    box-shadow: 0 0 2px rgb(104, 101, 101);
    background: rgb(255,255,255);
}

.settings label::before
{
    content: '';
    display: inline-block;
    background-image: url(img/check.png);
    background-size: 16px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.settings label
{
    display: block;
    margin: 5px 20px 5px auto;
}

input[id='services']:checked ~ .settings label[for='services']:before,
input[id='jokes']:checked ~ .settings label[for='jokes']:before,
input[id='tv']:checked ~ .settings label[for='tv']:before,
input[id='auto']:checked ~ .settings label[for='auto']:before,
input[id='weather']:checked ~ .settings label[for='weather']:before,
input[id='traffic']:checked ~ .settings label[for='traffic']:before,
input[id='map']:checked ~ .settings label[for='map']:before,
input[id='poster']:checked ~ .settings label[for='poster']:before
{
    background-image: url(img/uncheck.png);
}

input[id='services']:checked ~ .widgets .services,
input[id='jokes']:checked ~ .widgets .jokes,
input[id='tv']:checked ~ .widgets .tv,
input[id='auto']:checked ~ .widgets .auto,
input[id='weather']:checked ~ .widgets .weather,
input[id='traffic']:checked ~ .widgets .traffic,
input[id='map']:checked ~ .widgets .maps,
input[id='poster']:checked ~ .widgets .poster,
input[id='services']:checked ~ input[id='jokes']:checked ~ .widgets .column-1,
input[id='tv']:checked ~ input[id='auto']:checked ~ .widgets .column-2
{
    display: none;
}

.mail
{
    grid-area: mail;
    padding: 10px;
    box-shadow: 0 0 2px 2px rgb(104, 101, 101);
}

.login::first-letter
{
    color: rgb(204, 5, 5);
}

.news
{
    grid-area: news;
    vertical-align: bottom;
}

.banner
{
    grid-area: b;
    vertical-align: middle;
}

.logo
{
    margin-left: calc(100% - 140px);
    margin-top: 50px;
    grid-area: logo;
    background-image: url(./img/logo-ya.svg);
    width: 140px;
    height: 100px;
}

.main
{
    grid-area: main;
}

.widgets
{
    grid-area: wid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 400px;
}

.widget-column
{
    width: 33%;
    padding-right: 10px;
}

.widget
{
    margin-bottom: 20px;
}

.heading_blue,
a
{
    text-decoration: none;
    color: rgb(37, 37, 172);
}

.link_black
{
    color: rgb(0,0,0);
}

.face a:hover
{
    color: rgb(204, 5, 5);
}

.geolocation:hover .geolocation__arrow
{
    background-position: 0 -19px;
}

.geolocation__arrow
{
    background-image: url(./img/geo.svg);
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
}

h2
{
    display: inline-block;
    padding: 6px;
    margin: 0;
}

.ekb-news
{
    color: rgb(132, 132, 255);
}

.text_grey,
.auto__news__list .time
{
    color: rgb(144, 144, 158);
}

.currency-rate.item
{
    display: inline-block;
    padding-right: 5px;
}

.nav
{
    margin: 50px 0 10px;
    padding-right: 10px;
}

.search
{
    display: flex;
    width: 810px;
}

.input-search,
.button-search
{
    border: 2px solid  rgb(255, 174, 0);
}

.input-search
{
    width: calc(100% - 90px);
    height: 36px;
    display: inline-block;
}

.button-search
{
    position: relative;
    width: 75px;
    background-color: rgb(255, 174, 0);
    font-size: 16px;
    cursor: pointer;
}

.button-search::after
{
    content: '';
    position: absolute;
    top: -3px;
    right: -13px;
    border-width: 22px 0 22px 11px;
    border-style: solid;
    border-color: rgba(255,219,76,0);
    border-left-color: inherit;
}

.search :focus
{
    outline: none;
}

.banner-panorama
{
    width: 725px;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-image: url(img/banner.png);
}

.joke,
.changeJoke,
input
{
    display: none;
}

input[id='joke1']:checked ~ .joke-1,
input[id='joke1']:checked ~ .changeJoke-1
{
    display: block;
}

input[id='joke2']:checked ~ .joke-2,
input[id='joke2']:checked ~ .changeJoke-2
{
    display: block;
}

ul
{
    padding: 0;
}

li
{
    list-style: none;
    margin: 10px 0;
}

.auto__news
{
    position: relative;
    max-height: 300px;
}

.auto__news__list
{
    padding: 30px 0;
    overflow-y: scroll;
    height: 220px;
}

.auto__news__list::before
{
    top: 0;
    background: linear-gradient(to bottom,
    rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.auto__news__list::before,
.auto__news__list::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
}

.auto__news__list::after
{
    bottom: 0;
    background: linear-gradient(to top, rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.auto__news__list::-webkit-scrollbar
{
    display: none;
}

.weather__icon
{
    width: 36px;
    height: 36px;
    background-image: url(img/weather.png);
}

.icon
{
    display: inline-block;
    vertical-align: middle;
}

.traffic__icon
{
    width: 33px;
    height: 33px;
    background-image: url(img/probki.svg);
}
